---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Trajectory from '../components/Trajectory.astro';
import Testimonials from '../components/Testimonials.astro';
import Locations from '../components/Locations.astro';
---

<Layout title="NovaHair - Medicina Estética Capilar">
  <main>
    <Hero />
    <Trajectory />
    <Testimonials />
    <Locations />
  </main>
</Layout>
